.build
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
ignore/1azure_logo.png
ignore/1bpp bitmap setup.xcf
ignore/4pingtest.png
ignore/5doot.png
ignore/azure.bmp
ignore/dog.bmp
ignore/doot.xcf
ignore/nobanan.bmp
ignore/nomana.bmp
ignore/orang.bmp
ignore/vote.bmp
